/* Reset default margin and padding, set font, and basic styling */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EEF0F4;
    color: #432000;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styling for the main container */
.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

/* Styling for images */
img {
    width: 150px;
    margin: 0 auto;
}

/* Styling for input fields */
input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

/* Styling for buttons */
button {
    color: #FDFDFD;
    background-color: #0faf1f;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
    background-color: gold;
}

/* Styling for unordered lists */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Styling for list items in the unordered list */
ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease-in-out;
}

/* Styling for active state of list items */
ul li:active {
    background-color: #ff0000;
}

/* Keyframes for the pulse animation */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Apply the pulse animation to the button when the 'pulse' class is present */
.pulse {
    animation: pulse 1s ease;
}

/* Styling for the footer */
footer {
    text-align: end;
    padding: 10px;
    background-color: #432000;
    color: #FDFDFD;
    text-decoration: wavy;
}
